# Dependency directories
node_modules/

# environment variable files
.env

# cookie files
cookies.json

# recent tweet hashes
lastTweetHashes.json

# debugging script for puppeteer
puppeteer.js
puppeteer.ts
