<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="origin-when-cross-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.purple.min.css">
  <title>atproto OAuth Web Service Example</title>
</head>
<body>
<header>
  <hgroup>
    <h1>atproto OAuth Web Service Example</h1>
    {% if g.user %}
      <p>Hello <span style="font-family: monospace;">@{{ g.user['handle'] }}</span>!</p>
    {% endif %}
  </hgroup>
  <nav>
    <ul>
    {% if g.user %}
      <li><a href="{{ url_for('bsky_post') }}">Create Post</a>
      <li><a href="{{ url_for('oauth_refresh') }}">Refresh Token</a>
      <li><a href="{{ url_for('oauth_logout') }}">Logout</a>
    {% else %}
      <li><a href="{{ url_for('oauth_login') }}">Login</a>
    {% endif %}
      <li><a href="https://github.com/bluesky-social/cookbook">Code</a>
    </ul>
  </nav>
</header>
<main>
  <section class="content">
    {% for message in get_flashed_messages() %}
      <article>{{ message }}</article>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</main>
</body>
</html>
