<!doctype html>
<title>atproto OAuth Flask Backend Demo</title>
<nav>
  <h1>atproto OAuth Flask Backend Demo</h1>
  <ul>
    {% if g.user %}
      <li><span>Hello @{{ g.user['handle'] }}</span>
      <li><a href="{{ url_for('bsky_post') }}">Create Post</a>
      <li><a href="{{ url_for('oauth_logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('oauth_login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
