{% extends 'base.html' %}

{% block content %}
  <article>
    <h2>Success!</h2>
    <p>The post record has been created on your PDS. It should be visible at:</p>
    <ul>
        <li>Your PDS's <a href="{{ pds_url }}/xrpc/com.atproto.repo.getRecord?repo={{ repo }}&amp;collection=app.bsky.feed.post&amp;rkey={{ rkey }}"><code>com.atproto.repo.getRecord</code> API</a></li>
        <li><a href="https://bsky.app/profile/{{ repo }}/post/{{ rkey }}">The Bluesky web app</a></li>
        <li>Independent Bluesky apps like <a href="https://zeppelin.social/profile/{{ repo }}/post/{{ rkey }}">Zeppelin</a></li>
        <li>The <a href="https://pdsls.dev/{{ at_uri }}">PDSls</a> AT Protocol Explorer tool</li>
        <li>...and many other places that speak AT Protocol!</li>
    </ul>
  </article>
{% endblock %}
