{{ define "content" }}
<article>
  <h3>Login with the Atmosphere</h3>
  <form method="post">
      <p>Enter your handle to continue</p>
    <fieldset role="group">
      <input name="username" id="username" placeholder="@alice.example.com" style="font-family: monospace;" required>
      <input type="submit" value="Login">
    </fieldset>
  </form>
  <p>If you're a Bluesky user, you already have an Atmosphere account.</p>
  <form method="post">
    <input name="username" type="hidden", value="https://bsky.social">
    <input class="secondary" type="submit" value="Create Account with Bluesky Social">
  </form>
  <a href="https://atproto.com/guides/self-hosting"><button class="secondary outline" style="width: 100%">Other options</button></a>
  {{if .Error}}
  <article style="background-color: #861D13;">
    {{.Error}}
  </article>
  {{end}}
</article>
{{ end }}
